.search-input {
    border: 1px solid var(--colorBorder);
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--colorDefault);

    padding-left: var(--spacingUnit3);

    width: 295px;
    height: 50px;
}

.search-input::placeholder {
    color: var(--colorHint);
    font-size: 14px;
}

.search-input:focus {
    border: 1px solid var(--colorAccent);
    outline: none;
}

.search-input:disabled {
    background-color: var(--colorDisable);
}