@import 'styles/variables';

.search_input {
    @include shape(445px, 50px, 40px);

    border: none;
    box-sizing: border-box;
    color: $colorDefault;

    padding-left: $spacingUnit5;
}

.search_input::placeholder {
    @include text-simple(14px);
}

.search_input:focus {
    border: 1px solid $colorAccent;
    outline: none;
}

.search_input:disabled {
    background-color: $colorDisable;
}