@import '@styles/index.module.scss';
@import '@styles/variables.module.scss';

.git_repo_tile__repo_item {
    display: flex;
    justify-content: flex-start;
}

.repo_item__repo_info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: $spacingUnit3;
    vertical-align: middle;

    max-width: 225px;
}

.repo_info__header {
    font-size: 16px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.repo_info__org_link {
    display: inline-block;
    margin: $spacingUnit1 0 !important;
    height: auto;
    text-align: left;
}

.org_link:hover {
    color: $colorLinkHover;
}

.repo_info__repo_add_info {
    display: flex;
}

.repo_add_info__star {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.repo_add_info__rating {
    margin-left: $spacingUnit1 !important;
    margin-right: $spacingUnit5 !important;
}