@import 'styles/variables';

@keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.loader {
    @include square(80px, 50%);
    align-items: center;

    background-color: $colorBackground;
    box-shadow: 0px 2px 6px $colorBorderHoverAccent;

    display: flex;
    justify-content: center;

    position: sticky;
    top: calc(50% - 40px);
    left: calc(50% - 40px);

    &_wrapper {
        @include square(40px);
        animation: spin 1s linear infinite;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
    }
}