@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* === Colors === */
:root {
  --colorBackground: #FFFFFF;
  --colorBorder: #D9D9D9;
  --colorBorderHoverAccent: rgba(182, 182, 182, 0.25);
  --colorDefault: #000000;
  --colorHint: #7E7E7E;
  --colorAccent: #FF5555;
  --colorAccentHover: #FD8686;
  --colorStarAccent: #FF9432;
  --colorLinkHover: #208FBF;
  --colorDisable: #F9F9F9;
}

body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
}

.text-header {
  color: var(--colorDefault);
  font-weight: 700;
  margin: 0;
}

.text {
  color: var(--colorHint);
  font-size: 14px;
  font-weight: 400;

  margin: 0;
}