@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import './variables.module.scss';

body {
  font-family: Roboto;
  padding: 16px;
  margin: 0;
}

.text_header {
  color: $colorDefault;
  font-weight: 700;
  margin: 0;
}

.text {
  color: $colorHint;
  font-size: 14px;
  font-weight: 400;

  margin: 0;
}