@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: $colorPageBackground;

  font-family: Roboto;

  margin: 0;
  padding: 0;
}
