/* === Colors === */
$colorBackground: #FFFFFF;
$colorBorder: #D9D9D9;
$colorBorderHoverAccent: rgba(182, 182, 182, 0.25);
$colorDefault: #000000;
$colorHint: #7E7E7E;
$colorAccent: #FF5555;
$colorAccentHover: #FD8686;
$colorStarAccent: #FF9432;
$colorLinkHover: #208FBF;
$colorDisable: #F9F9F9;

/* === Spacing === */
$spacingUnit1: 4px;
$spacingUnit2: 8px;
$spacingUnit3: 12px;
$spacingUnit4: 16px;
$spacingUnit5: 20px;

@mixin sqare($size, $border-radius: none) {
    width: $size;
    height: $size;

    @if ($border-radius !=none) {
        border-radius: $border-radius;
    }
}

@mixin shape($width, $height, $border-radius: none) {
    width: $width;
    height: $height;

    @if ($border-radius !=none) {
        border-radius: $border-radius;
    }
}

@mixin text-header($font-size: 20px, $align: left, $color: $colorDefault) {
    font-weight: 700;
    margin: 0;
    font-size: $font-size;
    color: $color;
    text-align: $align;
}

@mixin text-simple($font-size: 14px, $align: left, $color: $colorHint) {
    font-weight: 400;
    margin: 0;
    font-size: $font-size;
    color: $color;
    text-align: $align;
}