@import 'styles/variables';

.repo_tile {
    @include shape(507px, 104px, 32px);

    background-color: $colorBackground;
    box-sizing: border-box;
    cursor: pointer;

    padding: $spacingUnit3;

    grid-column-start: 1;
}

.repo_tile:hover {
    box-shadow: 0px 2px 6px $colorBorderHoverAccent;
    background-color: #FAFAFA;
}