.search-button {
    background-color: var(--colorAccent);
    border: none;
    border-radius: 6px;
    cursor: pointer;

    outline: none;
    padding: 0;

    width: 50px;
    height: 50px;
}

.search-button:hover {
    background-color: var(--colorAccentHover);
}

.search-button:disabled {
    background-color: var(--colorBorder);
}