@import "styles/variables.scss";

.avatar {
  @include square(80px, 50%);
  @include text-header(40px, center, #ffffff);

  background-color: $colorAccent;
  display: flex;

  flex-direction: column;
  justify-content: center;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
