.git-repo-tile__avatar {
    background-color: var(--colorAccent);
    border-radius: 50%;
    color: white;
    display: flex;

    font-size: 40px;
    font-weight: 700;
    text-align: center;

    flex-direction: column;
    justify-content: center;

    width: 80px;
    height: 80px;
}