@import '@styles/variables.module.scss';

.git_repo_tile__avatar {
    background-color: $colorAccent;
    border-radius: 50%;
    color: white;
    display: flex;

    font-size: 40px;
    font-weight: 700;
    text-align: center;

    flex-direction: column;
    justify-content: center;

    width: 80px;
    height: 80px;
}